<section>
    <div class="headline">
        <h1>Add Task</h1>
        <button class="close-btn" mat-icon-button (click)="closeDialog()"><mat-icon>close</mat-icon></button>
    </div>

    <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
        <div class="input-container">
            <div class="input-section-left">

                <mat-label>Title<span class="star">*</span></mat-label>
                <mat-form-field>
                    <input matInput placeholder="Enter a title" name="title" [(ngModel)]="task.title" required>
                </mat-form-field>

                <mat-label>Description</mat-label>
                <mat-form-field>
                    <textarea matInput placeholder="Enter a Description" name="description"
                        [(ngModel)]="task.description"></textarea>
                </mat-form-field>

                <mat-label>Contacts</mat-label>
                <mat-form-field>
                    <mat-select placeholder="Select contacts to assign" [(value)]="selectedContacts"
                        [(ngModel)]="task.assignedContacts" name="contacts" multiple>
                        <mat-option *ngFor="let contact of contacts" [value]="contact">
                            {{ contact.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="parting-line"></div>

            <div class="input-section-right">

                <mat-label>Due date<span class="star">*</span></mat-label>
                <mat-form-field class="example-full-width">
                    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="dd/mm/yyyy"
                        name="dueDate" [(ngModel)]="task.dueDate" required>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-label>Priority</mat-label>
                <mat-button-toggle-group [(ngModel)]="task.priority" aria-label="Font Style" name="priority"
                    style="margin-bottom: 20px;">
                    <mat-button-toggle value="urgent">Urgent</mat-button-toggle>
                    <mat-button-toggle value="medium">Medium</mat-button-toggle>
                    <mat-button-toggle value="low">Low</mat-button-toggle>
                </mat-button-toggle-group>

                <mat-label>Category<span class="star">*</span></mat-label>
                <mat-form-field>
                    <mat-select [(ngModel)]="task.category" name="category" required placeholder="Select task category">
                        <mat-option value="Technical">Technical Task</mat-option>
                        <mat-option value="User_Story">User Story</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-label>Subtasks</mat-label>
                <mat-form-field>
                    <input [ngModelOptions]="{standalone: true}" #input matInput placeholder="Add new subtask"
                        [(ngModel)]="newSubtask" (focus)="onInputFocus()" (blur)="onInputBlur()">
                    <!-- Button, um neuen Subtask hinzuzufügen -->
                    <button type="button" matSuffix mat-icon-button *ngIf="!isInputFocused && editingIndex === null"
                        (mousedown)="addSubtask()">
                        <mat-icon>add</mat-icon>
                    </button>
                    <!-- Button, um Eingabefeld zu leeren -->
                    <button type="button" matSuffix mat-icon-button *ngIf="isInputFocused && editingIndex === null"
                        (mousedown)="clearInputField()">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <!-- Button, um neuen Subtask hinzuzufügen -->
                    <button type="button" matSuffix mat-icon-button *ngIf="isInputFocused && editingIndex === null"
                        (mousedown)="addSubtask()">
                        <mat-icon>done</mat-icon>
                    </button>
                    <!-- Button, um bearbeiteten Subtask zu speichern -->
                    <button type="button" matSuffix mat-icon-button *ngIf="editingIndex !== null" (click)="updateSubtask()">
                        <mat-icon>done</mat-icon>
                    </button>
                </mat-form-field>

                <!-- Subtask-Liste -->
                <div class="subtask-list">
                    <div *ngFor="let subtask of newSubtasks; let i = index" class="subtask">
                        <span>• {{ subtask }}</span>
                        <div class="subtask-icons">
                            <mat-icon class="subtask-icon-edit" (click)="editSubtask(i)">edit</mat-icon>
                            <mat-icon class="subtask-icon-delete" (click)="deleteSubtask(i)">delete</mat-icon>
                        </div>
                    </div>
                </div>

                <div class="mobile-required-text" style="display: none;"><span class="star">*</span><span>This field is required</span></div>
            </div>
        </div>

        <div class="bottom-field">
            <div class="required-text"><span class="star">*</span><span>This field is required</span></div>
            <div>
                <div class="button-group">
                    <button type="button" class="clear-btn" (click)="clearForm(taskForm)">
                        Clear <mat-icon>clear</mat-icon>
                    </button>
                    <button type="submit" class="create-btn" mat-stroked-button [disabled]="!taskForm.valid">
                        Create Task <img src="assets/icons/check-btn.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>