<header>
    <div class="logo-container" style="display: none;">
        <img src="assets/img/logo.svg" alt="Logo" class="logo">
    </div>
    <span class="headline">Kanban Project Management Tool</span>
    <div class="button-container" *ngIf="authService.isLoggedIn()">
        <div class="help-container">
            <img src="assets/icons/help.svg" alt="Help" [routerLink]="'/kanban/help-page'">
        </div>
        <div class="circle" [matMenuTriggerFor]="belowMenu">
            <span class="initials">{{userInitials}}</span>
        </div>
        <mat-menu #belowMenu="matMenu" xPosition="before" class="menu">
            <button class="help-option" [routerLink]="'/kanban/help-page'" mat-menu-item class="menu-option">Help</button>
            <button [routerLink]="'/kanban/legal-notice'" mat-menu-item class="menu-option">Legal Notice</button>
            <button [routerLink]="'/kanban/privacy-policy'" mat-menu-item class="menu-option">Privacy Policy</button>
            <button mat-menu-item class="menu-option" (click)="logout()">Logout</button>
        </mat-menu>
    </div>
</header>