::ng-deep.cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: var(--mat-dialog-container-max-width, none);
    max-height: var(--mat-dialog-container-max-height, auto);
}

::ng-deep.mat-mdc-text-field-wrapper {
    background-color: white !important;
    cursor: pointer;
    border-radius: 10px !important;
    border: solid 1px #D1D1D1;
}

.mat-mdc-form-field {
    width: 320px;
}

section {
    display: flex;
    height: 100%;
}

.close-btn {
    position: absolute;
    right: 32px;
    top: 32px;
}

.left-container {
    background-color: #2A3647;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 46px;
    height: 100%;


    img {
        height: 66px;
        width: 54px;
    }

    h1 {
        font-size: 61px;
        font-weight: 700;
        white-space: nowrap;
        margin-block-start: 0.3em;
        margin-block-end: 0;
    }

    h2 {
        font-size: 27px;
        font-weight: 400;
        margin-block-start: 0.3em;
        white-space: nowrap;
    }
}

.line {
    display: flex;
    height: 3px;
    width: 84px;
    background-color: #29ABE2;
    border-radius: 20px;
}

.right-container {
    display: flex;
    align-items: center;
    padding-left: 86px;
    padding-right: 48px;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 60%;
    gap: 68px;
}

.big-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #D1D1D1;
    border: solid 2px white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.person-icon {
    height: 42px;
    width: 42px;
}

.form {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    gap: 22px !important;
    padding-top: 20px;
}

.cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8 !important;
    color: #2A3647 !important;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    padding: 12px 14px;
    cursor: pointer;
    border: solid 1px #2A3647;
    gap: 8px;

    &:hover {
        color: #29ABE2 !important;
        border-color: #29ABE2;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    }
}

.create-btn {
    background-color: #2A3647 !important;
    color: white !important;
    font-size: 21px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 24px 14px;
    cursor: pointer;
    gap: 8px;

    &:hover {
        background-color: #29ABE2 !important;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 1080px) {

    section {
        flex-direction: column;
    }

    .close-btn {
        color: white;
        top: 24px;
        right: 24px;
    }

    .right-container {
        flex-direction: column;
        padding: 0;
        width: auto;
        padding-bottom: 50px;
        gap: 28px;

    }

    .left-content {
        padding: 86px 28px;
        padding-top: 46px;
        align-items: center;

        img {
            display: none;
        }
    }

    .cancel-btn {
        display: none;
    }

    .button-group {
        justify-content: center;
    }

    

    .big-circle{
        margin-top: -62px;
    }
   
}

@media (max-width: 600px) {

    .left-container{
        
        h1 {
            font-size: 47px;
        }
    
        h2 {
            font-size: 20px;
        }
    }

    .left-content {
        padding: 86px 0;
        padding-top: 46px;
    }

    .right-container {
        padding-bottom: 32px;
gap: 0;
    }

    .form{
        padding-top: 24px;
        padding-left: 12px;
        padding-right: 12px;
    }
}
