<section>
    <div class="headline">
        <h1>Add Task</h1>
    </div>
    <form action="">
        <div class="input-container">
            <div class="input-section-left">

                <mat-label>Title<span class="star">*</span></mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Enter a title">
                </mat-form-field>

                <mat-label>Description</mat-label>
                <mat-form-field appearance="outline">
                    <textarea matInput placeholder="Enter a Description"></textarea>
                </mat-form-field>

                <mat-label>Title</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select contacts to assign" [(value)]="selectedShoes" multiple>
                        <mat-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
                            {{ shoe }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- <p>
                    Options selected: {{ selectedShoes.length }}
                  </p> -->



            </div>
            <div class="parting-line"></div>
            <div class="input-section-right">

                <mat-label>Due date<span class="star">*</span></mat-label>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="dd/mm/yyyy">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                <mat-label>Priority</mat-label>
                <mat-button-toggle-group [(ngModel)]="fontStyle" aria-label="Font Style" name="Priority">
                    <mat-button-toggle value="bold">Urgent</mat-button-toggle>
                    <mat-button-toggle value="italic">Medium</mat-button-toggle>
                    <mat-button-toggle value="underline">Low</mat-button-toggle>
                </mat-button-toggle-group>

                <mat-label>Category<span class="star">*</span></mat-label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="one">Technical Task</mat-option>
                        <mat-option value="two">User Story</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-label>Clearable input</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput type="text" [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
                    <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>



            </div>
        </div>

        <div class="bottom-field">
            <div><span class="star">*</span><span>This field is required</span></div>
            <div>
                <div class="button-group">
                    <button class="clear-btn" mat-flat-button>
                      Clear
                    </button>
                    <button class="create-btn" mat-stroked-button>
                      Create Task
                    </button>
                  </div>
            </div>
        </div>
    </form>

</section>