<div class="centered-container">
  <div class="logo-container">
    <img src="assets/img/logo.svg" alt="Logo" class="logo">
  </div>
  <mat-card class="signup-container">
    <button mat-icon-button class="arrow-back"> <mat-icon [routerLink]="'/'" matSuffix>arrow_back</mat-icon></button>
    <mat-card-title>
      <h1 class="title">Sign up</h1>
      <div class="line"></div>
    </mat-card-title>
    <mat-card-content>
      <div class="input-container">

        <!-- Name Field -->
        <mat-form-field class="example-full-width">
          <input type="name" id="username" placeholder="Name" matInput [formControl]="nameFormControl" />
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="nameFormControl.hasError('invalidName') && !nameFormControl.hasError('required')">
            Please enter <strong>first and last name</strong>
          </mat-error>

        </mat-form-field>

        <!-- Email Field -->
        <mat-form-field class="example-full-width">
          <input type="email" id="email" placeholder="Email" matInput [formControl]="emailFormControl" />
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <!-- Password Field -->
        <mat-form-field class="example-full-width" appearance="fill">
          <input [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Password" matInput
            [formControl]="passwordFormControl" />
          <button mat-icon-button matSuffix (click)="showPassword = !showPassword"
            [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="showPassword">
            <mat-icon>{{ showPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="passwordFormControl.hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
          <input [type]="showConfirmPassword ? 'text' : 'password'" id="confirm-password" placeholder="Confirm Password"
            matInput [formControl]="confirmPasswordFormControl" />
          <button mat-icon-button matSuffix (click)="showConfirmPassword = !showConfirmPassword"
            [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="showConfirmPassword">
            <mat-icon>{{ showConfirmPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
            Password confirmation is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="confirmPasswordFormControl.hasError('passwordMismatch')">
            Passwords do not match
          </mat-error>
        </mat-form-field>

      </div>

      <mat-checkbox required [(ngModel)]="isChecked" name="isChecked" #isCheckedControl="ngModel">
        I accept the <span class="checkbox-link">Privacy Policy</span>
      </mat-checkbox>
      <button (click)="onRegister()" class="signup-btn" mat-flat-button
        [disabled]="signupForm.invalid || !isCheckedControl.valid">
        Sign up
      </button>
    </mat-card-content>
  </mat-card>

  <div class="links">
    <span>
      <a href="http://localhost:4200/kanban/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
    </span>
    <span>
      <a href="http://localhost:4200/kanban/legal-notice" target="_blank" rel="noopener noreferrer">Legal Notice</a>
    </span>
  </div>
</div>