section {
    padding: 68px;
}

.arrow-back {
    position: fixed;
    right: 68px;
    top: 164px;
    color: #29ABE2;
}

.headline {
    font-size: 48px;
    margin-block-start: 0;
}

@media (max-width: 1080px) {

    section {
        padding: 32px;
    }
}

@media (max-width: 560px) {

    section {
        padding: 16px;
    }

    .arrow-back{
        display: none;
    }

    h1{
        font-size: 40px;
    }
}